.m_body {
  width: 100%;
  position: relative;
}
.m_body .top {
  width: 100%;
  height: 3.33333333rem;
  background-color: #049f40;
  padding: 1.2rem 1rem 1rem;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.m_body .top p {
  color: #fff;
}
.m_body .swiper-container {
  width: 100%;
}
.m_body .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.m_body .swiper-container .swiper-slide img {
  width: 100%;
}
.m_body .swiper-container .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 0.53333333rem;
  height: 0.53333333rem;
  border: 0.06666667rem solid #049f40;
}
.m_body .swiper-container .swiper-pagination-bullet-active {
  background: #049f40;
}
.m_body .content-wrap {
  width: 100%;
}
.m_body .content-wrap .head {
  width: 100%;
  height: 9.06666667rem;
  padding: 0rem 3.3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.86666667rem;
}
.m_body .content-wrap .head div {
  display: 1;
  align-items: center;
  align-content: center;
}
.m_body .content-wrap .head div img {
  width: 3.33333333rem;
}
.m_body .content-wrap .head div p {
  margin-top: 0.33333333rem;
  text-align: center;
}
.m_body .content-wrap .content {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-bottom: 5.33333333rem;
}
.m_body .content-wrap .content .introduction {
  width: 100%;
  color: #333333;
}
.m_body .content-wrap .content .introduction p {
  font-size: 0.8rem;
  line-height: 1.33333333rem;
}
.m_body .content-wrap .content .introduction div {
  position: relative;
}
.m_body .content-wrap .content .introduction div p {
  color: #049f40;
  font-weight: 700;
  font-size: 1.06666667rem;
  margin: 0 0.13333333rem 1.06666667rem 0;
}
.m_body .content-wrap .content .introduction div .ying {
  position: absolute;
  top: 0rem;
  left: 4.66666667rem;
}
.m_body .content-wrap .content .introduction div .ying div {
  color: #999999;
  font-size: 0.4rem;
  font-weight: 700;
}
.m_body .content-wrap .content .product {
  width: 100%;
  text-align: center;
  margin: 1.33333333rem 0 0.53333333rem 0;
  font-size: 0.8rem;
}
.m_body .content-wrap .content .product img {
  width: 13.33333333rem;
  height: 2.33333333rem;
}
.m_body .content-wrap .content .product ul {
  width: 100%;
}
.m_body .content-wrap .content .product ul li {
  width: 100%;
  text-align: left;
  margin-top: 1.66666667rem;
}
.m_body .content-wrap .content .product ul li img {
  width: 8.46666667rem;
  height: 5rem;
  float: left;
  margin-right: 0.26666667rem;
}
.m_body .content-wrap .content .product ul li span {
  display: block;
  font-size: 0.86666667rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.m_body .content-wrap .content .introductions {
  width: 100%;
  color: #333333;
  margin-top: 1.66666667rem;
}
.m_body .content-wrap .content .introductions p {
  font-size: 0.8rem;
  line-height: 1.33333333rem;
  margin-top: 1.33333333rem;
}
.m_body .content-wrap .content .introductions div {
  position: relative;
}
.m_body .content-wrap .content .introductions div p {
  color: #049f40;
  font-weight: 700;
  font-size: 1.06666667rem;
  margin: 0 0.13333333rem 1.06666667rem 0;
}
.m_body .content-wrap .content .introductions div .ying {
  position: absolute;
  top: 0rem;
  left: 4.66666667rem;
}
.m_body .content-wrap .content .introductions div .ying div {
  color: #999999;
  font-size: 0.46666667rem;
}
.m_body .content-wrap .content .introductions img {
  width: 100%;
}
.m_body .footer {
  width: 100%;
  padding: 0.66666667rem 3.06666667rem 0.53333333rem;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 0.06666667rem solid #b2b2b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.86666667rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
.m_body .footer div {
  width: 3.66666667rem;
  height: 3rem;
  text-align: center;
}
.m_body .footer div a {
  display: block;
  width: 2.53333333rem;
  height: 1.66666667rem;
  margin: 0 0.56666667rem;
}
.m_body .footer div a img {
  width: 100%;
}
.m_body .footer div p {
  margin-top: 0.33333333rem;
  text-align: center;
}
